{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 updateprofile">
        <div class="form-gruop">
            {{ form.bio.label(class="form-control-label")}}                
            {% if form.bio.errors %}
                {{ form.bio(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.bio.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
        
                </div>
            {% else %}
                {{ form.bio(class="form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class="form-gruop mt-3 mb-2">
            {{ form.submit(class="btn btn-outine-info btn-primary")}}
        </div>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
{% endblock %}



