.hero{
    height: 200px;
    background-image: url("bloghero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote{
    text-decoration: italic ;
    text-align: center;
    text-decoration: blue;
}
.image{
    height: 24;
    width:30;
}
footer{
    text-align: center;
}